@{
    ViewData["Title"] = "Home Page";
}

﻿<div class="container">
    <div class="row logomargintop">
        <div class="col-md-2" >
        </div>
        <div class="col-md-8 text-center">
            <img src="img/banner.png" width="350" height="120" />
        </div>
        <div class="col-md-2">
        </div>        
    </div>

    <div class="row justify-content-center mt-5" >
        <div class="col-md-10 text-center">
            <form id="youtubeForm" name="youtubeForm" asp-controller="Home" asp-action="Extract">
                <div class="form-group">
                    <label for="youtubeLink" class="h1">Convert Youtube Video to PowerPoint Free </label>
                    <input type="text" id="youtubeLink" name="youtubeLink" class="form-control form-control-lg mt-3" placeholder="Paste your YouTube link here" style="font-size: 1.6rem;">
                </div>
                <div class="form-group text-center" style="margin:1em;">
                    <button type="submit" class="btn btn-primary btn-lg">Convert</button>
                </div>
            </form>
        </div>
    </div>
</div>